<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Confirmation</title>
</head>
<body>
    <h2>Confirmation Page</h2>
    <p> The Customer is confirmed: <span th:text="${customer.firstName} + ' ' + ${customer.lastName}" ></span></p>
    <br>
    <p>Free Pass: <span th:text="${customer.freePasses}"></span></p>
    <p>Postal Code: <span th:text="${customer.postalCode}"></span></p>
    <p>Course Code: <span th:text="${customer.courseCode}"></span></p>
</body>
</html>